<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- Connect to FontAwesome CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <!-- Connect to Google fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
    <!-- Connect to FontAwesome Kit -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>restaurant discovery-landing</title>
</head>
<body>
    <nav>
        <a href="#" class="logo">
            <h1>
                <span class="food">Food</span><span  class="explorer">Xplorer</span>
                <span class="search"><i class="fas">&#xf4d7;</i></span>
            </h1>
        </a>
        <ul class="navbar-ul">
            <li class="nav-item active">
                <a href="./index.html" class="nav-link" id="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="./explore.html" class="nav-link" id="nav-link">Explore</a>
            </li>
            <li class="nav-item">
                <a href="./discounts.html" class="nav-link" id="nav-link">Discounts</a>
            </li>
            <li class="nav-item">
                <a href="./contact.html" class="nav-link" id="nav-link">Contact</a>
            </li>
        </ul>
        <!-- <div class="hamburger" id="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div> -->
    </nav>

    <section class="hero">
        <div class="hero-left">
            <h1>
                <span>Discover The <br></span>
                <span>Finest <b class="anchor-text">Restaurants</b><br></span>
                <span>Closest To You.</span>
            </h1>
            <p>
                We are dedicated to connecting you to restaurants serving your favorite dishes. You can also grab sweet discount deals while at it!
            </p>
            <a class="action-btn" href="#Explore">Find Restaurants</a>
        </div>
        <div class="hero-right">
            <img class="hero-image" src="../static/images/food-landing.jpg" alt="Plate of jollof rice & chicken">
        </div>
    </section>

    <center class="popular">
        <p>Popular restaurants</p>
        <!-- <br> -->
        <hr>
    </center>

    <section class="restaurants" id="homepage-restaurants">
        <div class="homepage-restaurants">
          <div class="resturants-row">
            <div class="restaurant-1">
                <a href="https://www.kozogh.com/"><img src="../static/images/kozo-finedining.jpg" alt="A Restaurant" /></a>
                <p class="name">Kozo Gh</p>
                <p class="category">Fine dining</p>
            </div>
            <div class="restaurant-2">
                <a href="https://www.barcelos.com.gh/"><img src="../static/images/barcelos-fastfood.jpg" alt="Another Restaurant" /></a>
                <p class="name">Barcelos Ghana</p>
                <p class="category">Fast food</p>
            </div>
            <div class="restaurant-3">
                <a href="http://skybar25.com/"><img src="../static/images/sky-bar.jpg" alt="Yet Another Restaurant" /></a>
                <p class="name">Sky Bar</a>
                <p class="category">Restaurant / Bar</p>
            </div>
          </div>
        </div>
    </section>

    <footer>
        <!-- &copy;2023 -->
        <ul class="footer-ul">
            <li class="nav-item">
                <a href="https://github.com/Danie-O" class="nav-link" id="nav-link">
                    <span><i class="fab fa-github"></i></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.linkedin.com/in/daniella-omenogor/" class="nav-link" id="nav-link">
                    <span><i class="fab fa-linkedin"></i></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://twitter.com/Danielleurrr" class="nav-link" id="nav-link">
                    <span>
                        <!-- <i class="fab fa-twitter-square"> -->
                        <i class="fab">&#xf099;</i>
                    </span>
                </a>
            </li>
        </ul>
    </footer>

    <!-- Web page script -->
    <script src="../static/js/index.js"></script>

    <!-- Ion icons CDN -->
    <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>

</body>
</html>